<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/ico.png" type="image/x-icon">
    <script src="/js/main.js"></script>
</head>

<body>
    <br>
    <div id="header">
        <h1 style="color: orange; text-align: center;">{{ data.titulo }}</h1>
    </div>
    <h2 style="color: rgb(0, 0, 0); padding-left: 6%;">{{ data.bienvenida }}</h2>

    <div style="padding-left: 10px;">
        <tbody>
            <tr style="color: white;">
                <form action="{{ url_for('buscar')}}" method="GET">
                    <h3>Descripcion del Producto</h3>
                    <p id=""> {{ descripcion }}.</p>
                    <h3>Precio del Producto</h3>
                    <p id="">{{ precio }}€</p>
                    <h3>Categoria del Producto</h3>
                    <p id="">{{ categoria }}.</p>
                    <br><br>

                </form>
            </tr>
        </tbody>
    </div>
    <br><br><br><br><br><br><br>

    <div class="fother">
        <p><a href="https://github.com/Davidgr04" id="colorful-paragraph">📲@David García</a></p>
    </div>
</body>

</html>