<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: rebeccapurple;">TodoProductos</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="icon" href="/static/ico.png" type="image/x-icon">
    <script src="/js/main.js"></script>
</head>

<body>
    <br>
    <div style="padding-left: 23%;">
        <img class="centrar-imagen" src="../static/logo_completo.png" alt="">
    </div>
    <h2 style="color: rgb(0, 0, 0); padding-left: 1%;">{{ data.bienvenida }}</h2>

    <div style="padding-left: 10px;">
        <h3>Nombre del Producto:</h3>
        <tbody>
            <tr style="color: white;">
                <form action="{{ url_for('buscar')}}" method="POST">
                    <select name="nombre_pro" id="mySelect">
                        <option value="">"Nombre del producto"</option>
                        {% for nombre in nombres %}
                            <option value="{{ nombre }}">{{ nombre }}</option>
                        {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" value="Buscar" class="search-button">
                </form>
            </tr>
        </tbody>
    </div>
    <br><br><br><br>
    <br><br><br><br>

    <div class="fother">
        <p><a href="https://blog.hubspot.es/service/que-es-soporte-tecnico" id="colorful-paragraph">📲Servicio Tecnico</a></p>
        <br>
        <p><a href="https://api.whatsapp.com/send/?phone=%2B34631586844&text&type=phone_number&app_absent=0" id="colorful-paragraph">Via WhatsApp</a> <a href="https://www.instagram.com/daaviidd_02/" id="colorful-paragraph">Via Instagram</a></p>
    </div>
</body>

</html>